/* Applying these properties to all the elements*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif
}
.container{
    width:100vw;
    min-height: 100vh;
    background-color: transparent;
}

.app {
    background-image: url('./assets/floralwatercolor75.png');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}
/* adding this for the media breakpoints */
/* tablets/large mobile device */
@media (max-width: 768px) {
  .app {
    background-size: contain;
  }
}

/* medium size smartphone */
@media (max-width: 480px) {
  .app {
    background-image: none;
    background-color: contain;
  }
}