.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(247, 168, 184, 0.3); 
  color: rgb(127, 163, 122);
  padding: 10px 10%;
}
ul li{
    display: inline-block;
    margin: 10px 20px;
    font-size: 20px;
    cursor: pointer;
}

ul li:hover::before {
  content: "🌸";
  margin-right: 10px;
}