.about-page {
  text-align: center;
  padding: 30px 20px;
  color: #7fa37a;
}

.about-page h1 {
  font-family: cursive;
  font-size: 40px;
}

.about-page p {
  font-size: 20px;
  max-width: 600px;
  margin: 0 auto;
  background: #FCE4E880;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}